Repository leoric-crown/n8n_pgvector16: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-example, prevent-env-commit, docker-compose-check, check-dockerfile-security, shellcheck

check-env-example:
  name: Verify .env.example has placeholder values
  entry: 'bash -c ''if grep -qE "(your_|example_|changeme|replace_)" .env.example; then echo "✅ .env.example contains placeholder values"; else echo "⚠️  .env.example may contain real secrets"; exit 1; fi''
  
    '
  language: system

prevent-env-commit:
  name: Prevent .env file commits
  entry: bash -c 'echo "❌ .env files should not be committed! Use .env.example instead."; exit 1'
  language: system

docker-compose-check:
  name: Docker Compose syntax validation
  entry: bash -c 'docker compose -f docker-compose.yml config > /dev/null'
  language: system
  pass_filenames: false

check-dockerfile-security:
  name: Basic Dockerfile security checks
  entry: 'bash -c ''if grep -rE "(ADD.*http|--privileged|USER.*root)" --include="*Dockerfile*" --include="*.dockerfile" .; then echo "⚠️  Potential security issues in Dockerfile"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

shellcheck:
  name: Shellcheck for shell scripts
  entry: 'bash -c ''if command -v shellcheck >/dev/null 2>&1; then shellcheck "$@"; else echo "⚠️  shellcheck not installed, skipping"; fi''
  
    '
  language: system

Update README with comprehensive setup guide and security features
  README.md
Due: none

Update documentation and add project overview
  CLAUDE.md
  DEPLOYMENT.md
  GEMINI.md
Due: none

Add complete Langfuse v3 LLM observability stack
  .env.example
  docker-compose.yml
  init-data.sh
Due: check-env-example, docker-compose-check, shellcheck

feat: add Tableau MCP integration as git submodule
  .env.example
  .gitignore
  .gitmodules
  docker-compose.yml
Due: check-env-example, docker-compose-check

feat: add PostgreSQL administration and MCP integration
  .env.example
  docker-compose.yml
Due: check-env-example, docker-compose-check

Update environment configuration and health check in Docker Compose
  .env.example
  docker-compose.yml
Due: check-env-example, docker-compose-check

feat: add n8n community node persistence via Docker volume
  .gitignore
  README.md
  docker-compose.yml
Due: docker-compose-check

feat: add Makefile for n8n stack management
  Makefile
Due: none

fix: comprehensive Langfuse v3 integration with distributed architecture
  CLAUDE.md
  README.md
  docker-compose.yml
Due: docker-compose-check

feat: add persistent volume for pgAdmin configuration
  docker-compose.yml
Due: docker-compose-check

docs: organize architecture and fix numbered list formatting
  .env.example
  .pre-commit-config.yaml
  CLAUDE.md
  DEPLOYMENT.md
  GEMINI.md
  README.md
Due: check-env-example

docs: add comprehensive Ollama integration and talk materials
  .markdownlint.json
  CLAUDE.md
  DEPLOYMENT.md
  ollama/BASELINE_MODELS.md
  ollama/M4_PRO_OPTIMIZATION.md
  ollama/MODEL_SELECTION_GUIDE.md
  ollama/OLLAMA_INTEGRATION.md
  ollama/RTX_4090_OPTIMIZATION.md
  ollama/scripts/benchmark_models.sh
  ollama/scripts/install_ollama_linux_nvidia.sh
  ollama/scripts/install_ollama_macos_apple_silicon.sh
  ollama/scripts/tune_env_macos.sh
  ollama/scripts/tune_env_nvidia.sh
Due: shellcheck

docs: comprehensive documentation updates and model optimization guide
  .env.example
  CLAUDE.md
  DEPLOYMENT.md
  MAINTENANCE.md
  README.md
  docker-compose.yml
  ollama/BASELINE_MODELS.md
  ollama/CONTEXT_WINDOW_OPTIMIZATION.md
  ollama/M4_PRO_OPTIMIZATION.md
  ollama/MODEL_SELECTION_GUIDE.md
  ollama/OLLAMA_INTEGRATION.md
  ollama/RTX_4090_OPTIMIZATION.md
  ollama/scripts/benchmark_models.sh
  ollama/scripts/tune_env_nvidia.sh
Due: check-env-example, docker-compose-check, shellcheck

feat: comprehensive environment setup automation and UX improvements
  .env.example
  DEPLOYMENT.md
  Makefile
  README.md
  docker-compose.yml
  setup-env.py
Due: check-env-example, docker-compose-check

docs: update .env.example and enhance setup documentation
  .env.example
  CLAUDE.md
  GEMINI.md
  setup-env.py
Due: check-env-example

feat: replace bash script with comprehensive Python benchmarking tool
  ollama/benchmark/README.md
  ollama/benchmark/benchmark_config.yaml
  ollama/benchmark/benchmark_models.py
  ollama/benchmark/output.csv
  ollama/benchmark/requirements.txt
  ollama/scripts/benchmark_models.sh
Due: shellcheck

docs: add GPT-OSS Memory Efficiency Research document
  ollama/GPT_OSS_MEMORY_EFFICIENCY_RESEARCH.md
Due: none

fix: update macOS and NVIDIA environment tuning scripts
  ollama/scripts/tune_env_macos.sh
  ollama/scripts/tune_env_nvidia.sh
Due: shellcheck

docs: refine comments in .env.example for clarity
  .env.example
Due: check-env-example

fix: update .gitignore to include additional file patterns and update subproject commit reference
  .gitignore
Due: none

chore: remove tableau-mcp submodule and related configuration
  .gitmodules
Due: none

chore: remove Tableau MCP server configuration and update documentation
  .env.example
  CLAUDE.md
  docker-compose.yml
Due: check-env-example, docker-compose-check

chore: update .gitignore and refine presentation plan for upcoming talk
  .gitignore
Due: none

docs: restructure for public release, add benchmarks and resources
  .gitignore
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/BENCHMARKS.md
  docs/RESOURCES.md
  ollama/BASELINE_MODELS.md
  ollama/CONTEXT_WINDOW_OPTIMIZATION.md
  ollama/GPT_OSS_MEMORY_EFFICIENCY_RESEARCH.md
  ollama/benchmark/MATRIX_TESTING.md
  ollama/benchmark/QUICKSTART.md
  ollama/benchmark/README.md
  ollama/benchmark/bench.sh
  ollama/benchmark/benchmark_models.py
  ollama/benchmark/config/README.md
  ollama/benchmark/config/benchmark_config.yaml
  ollama/benchmark/config/context_matrix.yaml
  ollama/benchmark/matrix.sh
  ollama/benchmark/output.csv
  ollama/benchmark/requirements.txt
  ollama/benchmark/results/.gitkeep
  ollama/benchmark/run_matrix.py
  ollama/modelfiles/Modelfile.gpt-oss-32k
  ollama/modelfiles/Modelfile.gpt-oss-98k
Due: shellcheck

docs: fix malformed URLs and improve documentation clarity
  CLAUDE.md
  DEPLOYMENT.md
  GEMINI.md
  README.md
  docs/BENCHMARKS.md
  docs/CADDY_SETUP.md
  docs/RESOURCES.md
Due: none

Add dockpeek link labels for service discovery
  docker-compose.yml
Due: docker-compose-check

Add custom Ollama model configurations for 64k and 96k context sizes
  ollama/modelfiles/Modelfile.gpt-oss-64k
  ollama/modelfiles/Modelfile.gpt-oss-96k
Due: none

Path conditions:
  check-env-example: any of: ^\.env\.example$
  prevent-env-commit: any of: ^\.env$
  docker-compose-check: any of: ^docker-compose\.ya?ml$
  check-dockerfile-security: any of: (Dockerfile|\.dockerfile)$
  shellcheck: any of: \.(sh|bash)$
